.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.listing {
    box-shadow: 1px 1px 0px grey;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

.listing:hover {
    box-shadow: 2px 2px 2px grey;
}

.fave {
    cursor: pointer;
    font-size: x-large;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.thumb-div {
    display: inline-block;
    height: 185px;
    width: 140px;
}

.thumb {
    max-height: 100%;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.loader {
    width: 12%;
    height: 12%;
    animation: spin 1s linear infinite;
    display: block;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    max-width: calc(100%-44px);
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: x-large;
}

.text-block-div {
    vertical-align: middle;
    padding-left: 20px;
    width: calc(100% - 160px);
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#navbar-div {
    margin: auto;
}