.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.listing {
    box-shadow: 1px 1px 0px grey;
}

.listing:hover {
    box-shadow: 2px 2px 2px grey;
}

.fave {
    cursor: pointer;
}

.loader {
    width: 14%;
    height: 14%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}